<ion-view>
    <ion-nav-title>
        <img src="images/logo.png" class="title-image"  />
    </ion-nav-title>
    <ion-nav-buttons side="right" ng-controller="menu">
        <button class="button button-icon icon ion-gear-b" style="color: #ffffff" ng-click="openLanguageSetModal()">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header menu-body view_body ">
        <div class="menuOperatPopup" ng-show="menuOperatPopup">
            <ul class="list">
                <li class="item">
                    <button class="button button-full button-stable" ng-click="openLanguageSetModal()" translate>{{'lgSet'}}</button>
                </li>
            </ul>
        </div>
        <div class="row" style="flex-wrap: wrap;">
            <div class="col col-25" ui-sref="events">
                <div class="menu-item">
                    <div class="menu-avatar">
                        <i class="icon ion-android-star-outline"></i>
                    </div>
                    <div class="menu-title" translate>
                       events
                    </div>
                </div>
            </div>
            <div class="col col-25">
                <div class="menu-item" ui-sref="news">
                    <div class="menu-avatar">
                        <i class="icon ion-android-calendar"></i>
                    </div>
                    <div class="menu-title" translate>
                        news
                    </div>
                </div>
            </div>
            <div class="col col-25" ng-show="true">
                <div class="menu-item" ng-click="identifyUser()">
                    <div class="menu-avatar">
                        <i class="icon ion-android-calendar"></i>
                    </div>
                    <div class="menu-title">
                        identifyUser
                    </div>
                </div>
            </div>
            <div class="col col-25" ng-show="true">
                <div class="menu-item" ng-click="pushRegister()">
                    <div class="menu-avatar">
                        <i class="icon ion-android-calendar"></i>
                    </div>
                    <div class="menu-title">
                        Register for Push
                    </div>
                </div>
            </div>
            <div class="col col-25" ng-repeat="menu in menuList" >
                <div class="menu-item" ui-sref="blank({url:menu.url})">
                    <div class="menu-avatar">
                        <img ng-src="{{menu.icon}}" alt=""/>
                        <!--<i class="icon ion-android-star-outline"></i>-->
                    </div>
                    <div class="menu-title" >
                        {{menu.description}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

