<ion-modal-view>
    <ion-nav-bar class="header-bar" align-title="center" >
        <ion-nav-title>
            <img class="title-image" src="images/logo.png" />
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="languageSetModal-body" overflow-scroll="false" scroll="false">
        <div class="languageList">
            <div class="language-item" ng-repeat="language in languageList" ng-click="updateLanguage(language)">
                {{language.name}}
            </div>
        </div>
        <div class="footer">
            <span class="fir">Wine List</span>
            <span class="sed">酒窖</span>
        </div>
    </ion-content>
</ion-modal-view>
